/* common shared styles */ 
body {
  font-family: Lato;
}

.btn-primary {  
  border-radius: 8px;
  background: #E55473;
  border: 0px;
  color: white;
  font-size: 20px;  
  font-weight: 300;
  padding: 20px 45px;
}

/* header related styles */
.header {
  background-color: #FDEEF1;
  margin-top: -20px;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.banner {
  width: 42%;
  padding: 100px 30px 0px 40px;  
}

.banner_title {
  font-size: 80px;  
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: 690px;
  margin-bottom: 15px;
  color: #272727;
}

.banner_description {
  color: #8C8587;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 600px;
  margin-bottom: 30px;
}

.header .banner_img {
  width: 635px;
  height: 800px;
}

/* featured section related styles */
.featured {
  padding-top: 150px;
}

.featured_title {
  color: #272727;  
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center; 
}

.featured_description {  
  color: #8C8587;  
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;  
  text-align: center;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.flowers {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.flower1 {
  width: 464px;
  height: 538px;
  background-color: #F2DEE8;
  border-radius: 300px 300px 0px 0px;
  background-image: url('../images/pngwing6.png');
  background-repeat: no-repeat;
  background-position: bottom;
}

.flower2 {
  width: 464px;
  height: 538px;
  background-color: #DAF0F1;
  border-radius: 300px 300px 0px 0px;
  background-image: url('../images/pngwing5.png');
  background-repeat: no-repeat;
  background-position: bottom;
}

.flower3 {
  width: 464px;
  height: 538px;
  background-color: #E4ECDC;
  border-radius: 300px 300px 0px 0px;
  background-image: url('../images/pngwing7.png');
  background-repeat: no-repeat;
  background-position: bottom;
}

.flowers_name {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.flower_name {
  width: 464px;
  height: 180px;
  color: #272727;
  text-align: center;  
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}

/* service section related styles */
.services {
  width: 1440px;
  height: 220px;
  display: flex;
  background-color: #F4F4F4;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  justify-content:space-evenly;
  padding-top: 100px;
}

.service_img {
  width: 88px;
  height: 88px;
}

.service_txt {
  text-align: center;
  color: #505050;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
}

/* hot-deal section related styles */
.hot_deal {
  background-color: #FDF6F8;
  margin-top: 100px;  
  display: flex;
  justify-content:center;
  padding-top: 150px;
  padding-bottom: 80px;
  gap: 250px;
}

.hot_deal_title {
  color: #272727;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.hot_deal_txt {
  color: #8C8587;
  width: 600px;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; 
}

/* instagram section related styles */
.instagram {  
  /* display: flex; */
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 110px;
  /* gap: 250px; */  
}

.instagram_title {
  color: #272727;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.instagram_txt {
  color: #8C8587;
  width: 600px;  
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-left: auto;
  margin-right: auto; 
}

.instagram_flowers {   
  display: flex;
  justify-content:center;
  gap: 25px;
  
}

/* subscription section related styles */
.subscription {
  width: 1440px;
  height: 450px;
  background-image: url('../images/Rectangle9.png');
  background-repeat: no-repeat;
  margin-left:auto;
  margin-right: auto;
  padding-top: 70px;
}

.subscription_title {
  color: #272727;  
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
  margin-bottom: 0px;
}

.subscription_description {  
  color: #8C8587;  
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;  
  text-align: center;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.email_input {
  text-align: center;
}

.email_input input[type="email"] {  
  margin-bottom: 25px;
  margin-right: 15px;
  padding: 25px 35px;
  color: #3d3b3b;
  border-radius: 5px;
  background: #FFF;
  border: 0;
  width: 45%;
  font-size: 16px;
}